@font-face {
    font-family: 'Monoton';
    src: url('Monoton-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

html {
    background-color: #FFFAFA;
    font-family: "Roboto", sans-serif
}

a:hover {
    color: #6175B2;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-family: "Monoton", sans-serif;
    font-size: 70px;
    text-align: center;
}

h3 {
    font-size: 40px;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

li {
    border: 1px solid black;
}

.artist {
    width: 100%;
    display: grid;
    grid-template-areas: "rank name"
                         "genres genres";
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    margin-top: 5px;
}

.artist > rank {
    grid-area: rank;
    padding-right: 5px;
    font-size: 30px;
}

.artist > name {
    grid-area: name;
    font-size: 30px;
}

.artist > genres {
    grid-area: genres;
}

.artist > genres > genre {
    background-color: lightgreen;
    font-weight: 600;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    white-space:nowrap;
    line-height: 35px;
}

.track {
    width: 100%;
    display: grid;
    grid-template-areas: "rank name"
                         "genres genres";
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    margin-top: 5px;
}

.track > rank {
    grid-area: rank;
    padding-right: 5px;
    font-size: 30px;
}

.track > name {
    grid-area: name;
    font-size: 30px;
}

.track > genres {
    grid-area: genres;
}

.track > genres > genre {
    background-color: lightgreen;
    font-weight: 600;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    white-space:nowrap;
    line-height: 35px;
}

#playlist-button {
    text-align: center;
    align-content: center;
}

input {
    background-color: #1DB954;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

#playlist-button-response {
    margin-top: 5%;
    margin-left: 5%;
    grid-column: 3;
    font-style: oblique;
    font-weight: bold;
    font-size: 75%;
}
