<!DOCTYPE html>

<html>
<link rel="stylesheet" href="../static/style.css">
<title>mySpotStats</title>

<head>
    <div class="header-container">
        <div id="site-title">
            <h2><a href="/">mySpotStats</a></h2>
        </div>
    </div>
</head>

<body>
    <h3>Top Artists of {{time}}:</h3>
    <div>
        <ol>
            {% for artist in artists %}
            <li>{{artist['name']}} || Genres: {% for genre in artist['genres'] %}
                <span class="genre-text">{{genre}}~</span>{% endfor %}
            </li>
            {% endfor %}
        </ol>
    </div>
    <div>
        <h4>Verdict: {{popularity}}</h4>
    </div>
</body>

</html>
