<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../static/style.css">
<script src="../static/script.js"></script>
<title>mySpotStats</title>

<head>
    <div class="header-container">
        <div id="site-title">
            <h2><a href="/">mySpotStats</a></h2>
        </div>
    </div>
</head>

<body>
    <h5>View the top 99 tracks or artists from a time period of your choice</h5>
    <form onsubmit="onSubmit()">
        <strong>Type:</strong><br>
        <input type="radio" name="type" value="artists"> Artists<br>
        <input type="radio" name="type" value="tracks"> Tracks<br>
        <br>
        <strong>Time Range:</strong><br>
        <input type="radio" name="time_range" value="short_term"> 3 Weeks<br>
        <input type="radio" name="time_range" value="medium_term"> 6 Months<br>
        <input type="radio" name="time_range" value="long_term"> All Time<br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
